// Place all the styles related to the readlist controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Colors and Fonts
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

 $bodyFont: 'Ubuntu';
 $headerFontFace: 'Ubuntu';
 $blue: #2C3E50; 
 $turquoise: #1DD2AF;
 $galleryGray: #EEEEEE;
 $containerBgColor: #EAEDF2;
 $bodyBgColor: $galleryGray; 

 // $baseColor: #EF4836; 
 $baseColor: #D04437;
 $accentColor: #F22613;
 $tertiaryColor: #3A539B;
 $changeColor: lighten(#37c3d0, 40%);
 $changeColorBase: #37c3d0;


body{
  background-color: $bodyBgColor; 
  font-family: $bodyFont, Arial; 
  color: #333333; 
}

nav.navbar.navbar-default{
  background-color: #D04437;
  border-bottom: solid 1px darken($bodyBgColor, 20%); 
  color: white; 
  a, a:focus{
  color: white;
  }
  .glyphicon{
    color: white; 
  }
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: white;
}

.panel > .panel-heading{
  background-color: darken($bodyBgColor, 5%); 
  font-weight: bold; 
  font-size: 16px;
  box-sizing: border-box;
  min-height: 55px;
}

.highlight-date , .highlight-rate {
  text-decoration: none;
  border-bottom: dotted 1px $tertiaryColor;
}


.highlight-date{
  color: $tertiaryColor;
}

.highlight-rate{
  color: $tertiaryColor;
}

.rate-info{
  padding-top: 15px;
}

a{
  color: gray;
}
a:hover{
  color: $baseColor;
  text-decoration: none;
}

.title{
  font-weight: bold;
}


.info td:first-child{
  font-weight: bold; 
}

.progress{
  width:50%;
  margin-top: 20px;
  &:hover .progress-bar{
    background-color: #96281B;
    border-color: #96281B;
  }
}

.progress-bar{
  // background-color: lighten(#96281B, 15%);
  background-color: $tertiaryColor;
}

.list-group-item:hover .progress-bar{
  background-color: lighten($tertiaryColor, 10%);
}


.btn.btn-danger{
  // background-color: lighten(#96281B, 15%);
  // border-color: lighten(#96281B, 15%);
  background-color: $baseColor;
  border-color: $baseColor;
  &:hover{
    background-color: $accentColor;
    border-color: $accentColor;
  }
}

.icon-group{
  visibility: hidden;
  .glyphicon{
    cursor: pointer;
  }
}

.list-group-item:hover > .icon-group, tr:hover .icon-group{
  visibility: visible;
}

.glyphicon{
  margin: 0px 5px; 
}
.glyphicon.glyphicon-remove-circle{
  color: $baseColor;
}


.btn.btn-save{
  background-color: $changeColorBase;
  color: white;
  &:hover{
    background-color: lighten($changeColorBase, 10%);
  }
}

.list-group-item-info {
  border: $changeColorBase solid 2px;
  background-color: $changeColor;
  color: #333333;

  label{
    font-weight: normal;
  }

  hr{
    color: black;
    background-color: black;
    border-top: 1px solid black;
  }

  .new-item-actions{
    padding: 20px;
    text-align: center;

    .btn{
      margin: 0px;
    }
  }
  .save-new-item, .remove-new-item{
    font-size: 12px;
    margin-right: 5px;

    .glyphicon{
      padding-right: 0px;
      margin: -20px 0px 20px 0px;
    }
  }
  .save-new-item .glyphicon{
    color: $tertiaryColor;
  }

  .remove-new-item .glyphicon{
    color: $baseColor;
  }

  h1{
    font-size: 15px;
    // color: $changeColorBase;
    font-weight: 500;
    padding-top: 0px;
    margin-top: 0px;
  }
}
.new-item{
  label{
    text-weight: 500;
  }
  input{
    border: 0px;
    border-bottom: 1px dotted $changeColorBase;
    margin-left: 10px;
    background-color: lighten($changeColor, 0%);
    color: $changeColorBase;
  }
  input[type="number"]{
    width: 30px;
  }
  input[type="text"]{
    width: 200px;
  }
  input:focus{
    background-color: lighten($changeColor, 5%);
    outline: none;
  }
}

.add-new-item{
  display:none;
}